/* Footer.css */
.footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  color: #cacaca;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 500;
}

.footer p {
  margin: 0;
}
