.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  height: 982px;
  position: relative;
  width: 1512px;
}

.home .overlap {
  background-color: #000000;
  height: 123px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.home .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 897px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
}

.home .text-wrapper-2 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 1055px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
}

.home .text-wrapper-3 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 756px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
}

.home .overlap-group {
  background-color: #ffffff;
  border-radius: 76px;
  height: 58px;
  left: 1265px;
  position: absolute;
  top: 35px;
  width: 193px;
}

.home .text-wrapper-4 {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.home .text-wrapper-5 {
  color: #ffffff;
  font-family: "Montserrat-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
}

.home .hi-i-m-jeanmarcos {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 96px;
  font-weight: 800;
  left: 67px;
  letter-spacing: 0;
  line-height: 94px;
  position: absolute;
  top: 258px;
}

.home .overlap-group-2 {
  height: 296px;
  left: 68px;
  position: absolute;
  top: 481px;
  width: 777px;
}

.home .rectangle {
  background-color: #000000;
  border-radius: 76px;
  height: 58px;
  left: 0;
  position: absolute;
  top: 238px;
  width: 193px;
}

.home .rectangle-2 {
  border: 2px solid;
  border-color: #000000;
  border-radius: 76px;
  height: 58px;
  left: 211px;
  position: absolute;
  top: 238px;
  width: 193px;
}

.home .text-wrapper-6 {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 252px;
}

.home .text-wrapper-7 {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 265px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 251px;
}

.home .i-am-a-senior-at {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 33.2px;
  position: absolute;
  top: 0;
  width: 777px;
}

.home .undraw-dev {
  height: 362px;
  left: 967px;
  position: absolute;
  top: 353px;
  width: 423px;
}
